:root {
  /*-----------------
        Colours
    -----------------*/

  /* Base colours */
  --color-white: #fff;
  --color-black: #000;

  /* Theme colours */
  --color-brown-light-fallback: #c29f9d;
  --color-brown-light: hsl(3 23.3% 68.8%);

  --color-brown-fallback: #a34a21;
  --color-brown: hsl(19 66.3% 38.4%);

  --color-brown-dark-fallback: #3e2518;
  --color-brown-dark: hsl(21 44.2% 16.9%);


  --max-width-mobile: 400px;
  --max-width-desktop: 800px;

  /*-----------------
      Design tokens
    -----------------*/
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;
  --border-radius-pill: 9999px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-brown-dark);
}

div.query-container {
  container-type: inline-size;
}

  /*-----------------
      Layout utils
    -----------------*/

.full-width {
  width: 100%;
}

  /*-----------------
        A11y utils
    -----------------*/

.focus-ring {
  transition: outline 0.15s ease-in-out;
  outline: 0px solid var(--color-brown);
  outline-offset: var(--spacing-xxs);

  &:focus-visible, &:focus-within {
    outline: 3px solid var(--color-brown);
  }
}

.no-focus:focus-visible {
  outline: none;
}