:root {
  /*-----------------
        Colours
    -----------------*/

  /* Base colours */
  --white: #fff;
  --black: #000;

  /* Base CH values */
  --orange-c: 0.1702;
  --orange-h: 31.76;

  --brown-c: 0.0814;
  --brown-h: 36;

  /* Ligntness variations */
  --darkest: 15%;
  --dark: 30%;
  --neutral: 50%; 
  --light: 70%;
  --lightest: 90%;

  /* Theme colours */
  --orange-darkest: oklch(var(--darkest) var(--orange-c) var(--orange-h));
  --orange-dark: oklch(var(--dark) var(--orange-c) var(--orange-h));
  --orange-neutral: oklch(var(--neutral) var(--orange-c) var(--orange-h));
  --orange-light: oklch(var(--light) var(--orange-c) var(--orange-h));
  --orange-lightest: oklch(var(--lightest) var(--orange-c) var(--orange-h));

  --brown-darkest: oklch(var(--darkest) var(--brown-c) var(--brown-h));
  --brown-dark: oklch(var(--dark) var(--brown-c) var(--brown-h));
  --brown-neutral: oklch(var(--neutral) var(--brown-c) var(--brown-h));
  --brown-light: oklch(var(--light) var(--brown-c) var(--brown-h));
  --brown-lightest: oklch(var(--lightest) var(--brown-c) var(--brown-h));

  --max-width-mobile: 400px;
  --max-width-desktop: 800px;

  /*-----------------
      Design tokens
    -----------------*/
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;
  --border-radius-pill: 9999px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: var(--brown-dark);
}

div.query-container {
  container-type: inline-size;
}

  /*-----------------
      Layout utils
    -----------------*/

.full-width {
  width: 100%;
}

  /*-----------------
        A11y utils
    -----------------*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus-ring {
  transition: outline 0.15s ease-in-out;
  outline: 0px solid var(--brown-neutral);
  outline-offset: var(--spacing-xxs);

  &:focus-visible, &:focus-within {
    outline: 3px solid var(--brown-neutral);
  }
}

/* Should only really be used alongside .focus-ring to hide default style when it would clash with the custom ring */
.no-focus:focus-visible {
  outline: none;
}